name: My Automation Pipeline

on: [push]

jobs:
  build-and-prep:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Get the code
      - name: Get the code
        uses: actions/checkout@v3

      # Step 2: Check Environment (PowerShell)
      - name: Run Environment Check
        shell: pwsh
        run: ./scripts/check_env.ps1

      # Step 3: Prepare/Clean Folder (Python)
      - name: Prepare the Environment
        run: python scripts/prep.py

      # Step 4: Run the App (Python)
      - name: Run the Application
        run: python app.py

      # Step 5: Upload the Artifact
      # Pay attention: The "uses" and "with" must be indented correctly!
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-final-software
          path: artifact_folder/
