# Step 5: Upload the result (The Artifact)
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-final-software
          path: artifact_folder/
